


@font-face{
    font-family: OpenSans-ExBold;
    src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face{
    font-family: OpenSans-Bold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face{
    font-family: OpenSans-Regular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face{
    font-family: OpenSans-Light;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face{
    font-family: OpenSans-Semibold;
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face{
    font-family: noah-ExtraBold;
    src: url('../fonts/noah/Noah-ExtraBold.ttf');
}

@font-face{
    font-family: noah-Bold;
    src: url('../fonts/noah/Noah-Bold.ttf');
}
